# Основные настройки
listen_addresses = '*'
port = 5432
max_connections = 100

# Ресурсы
shared_buffers = 128MB
work_mem = 4MB

# Безопасность
ssl = on
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'

# Логирование
log_destination = 'stderr'
logging_collector = on
log_directory = '/var/log/qhb'
log_filename = 'qhb-%Y-%m-%d.log'