BOOTPROTO=static
TYPE=eth
IPADDR={{ external_static_ip.split('/')[0] }}
NETMASK={{ (external_static_ip | ipaddr('netmask')).split('/')[-1] }}
GATEWAY={{ external_gateway }}
DNS1={{ external_dns }}
ONBOOT=yes